{% extends "base_others.html" %}	

{% block title %}
Delete Restaurant
{% endblock %}

{% block banner %}
	<!-- start banner Area -->
	<section class="about-banner relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">				
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
							Delete Restaurant				
						</h1>	
						<p class="text-white link-nav"><a href="{{url_for('index')}}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{{url_for('deleteRestaurant', restaurant_id=item.id )}}"> Delete Restaurant</a></p>
					
					</div>	
				</div>
			</div>
	</section>
	<!-- End banner Area -->
{% endblock %}
			
									
{% block content %}
			<!-- Start Delete Restaurant Area -->

			<section class="menu-area section-gap" id="menu">
					<div class="container">
						<div class="jumbotron">
								<h1>Are you sure you want to delete <strong class="red">{{item.name}}</strong>?</h1><br>
								<form action="#" method="POST">
								{{form.hidden_tag()}}	
								<button class="btn btn-outline-danger btn-lg " type="button" id="submit" type="submit" href="{{ url_for('viewRestaurantDetails', restaurant_id=item.id) }}">Delete</button>
								<button class="btn btn-outline-danger btn-lg " role="button" href="{{ url_for('viewRestaurantDetails', restaurant_id=item.id) }}">Cancel</button>
								</form>
						</div>
						

			<!-- End Delete Restaurant Area -->								
{% endblock %}

{% block services %}
{% endblock %}

{% block review %}
{% endblock %}
			