{% extends "base_others.html" %}	

{% block title %}
View Restaurant Details
{% endblock %}

{% block banner %}
	<!-- start banner Area -->
	<section class="about-banner relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">				
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
								View Restaurant Details				
						</h1>	
						<p class="text-white link-nav"><a href="{{url_for('index')}}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> View Restaurant Details</a></p>
					
					</div>	
				</div>
			</div>
	</section>
	<!-- End banner Area -->
{% endblock %}
			
									
{% block content %}  
<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu">
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">{{restaurant.name}}</h1>
			</div>
			
		<!-- Start flash message Area -->
			<div class="title text-center">
					<article class="flashes">
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<ul>
								{% for message in messages %}
								<li>
									{{message}}
								</li>
								
								{% endfor %}
							</ul>
							{% endif %}
						{% endwith %}
					</article>
				</div>
		<!-- End flash message Area -->

			<!-- Start Button Area -->
			  <p class="lead">
				<a class="btn btn-outline-danger btn-lg" href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" role="button"><i class="fa fa-pencil"></i> Edit Restaurant</a>
				<a class="btn btn-outline-danger btn-lg" href="#" role="button"><i class="fa fa-glass"></i> Add Menu Item</a>
				<a class="btn btn-outline-danger btn-lg" href="#" role="button"><i class="fa fa-user"></i> Add Menu Admin</a>
				<a class="btn btn-outline-danger btn-lg" href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" role="button"><i class="fa fa-trash"></i> Delete Restaurant</a>
			  </p>
			<!-- End Button Area -->

			<!-- Start Menu Area -->
			<div class="filters-content">

					<ul class="filter-wrap filters col-lg-12 no-padding">
							<li class="active" data-filter="*">All &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </li>
							<li data-filter=".appetizer">Appetizers</li>
							<li data-filter=".entree">Entrees</li>
							<li data-filter=".dessert">Desserts</li>
						</ul>    

				<div class="row grid">
					<hr class="my-4">

					{% for i in menus %}
						{% if i.category == 'Appetizer' %}
							<div class="col-md-4 all appetizer">
								<div class="single-menu">
									<div class="title-wrap d-flex justify-content-between">
										<h4>{{ i.name }}</h4>
										<h4 class="price">${{ i.price }}</h4>
									</div>			
									<p>
										{{ i.description }}
									</p>
																		
								</div>					                               
							</div>                           
						{% elif i.category == 'Entree' %}
							<div class="col-md-4 all entree">
								<div class="single-menu">
									<div class="title-wrap d-flex justify-content-between">
										<h4>{{ i.name }}</h4>
										<h4 class="price">${{ i.price }}</h4>
									</div>			
									<p>
										{{ i.description }}
									</p>
																		
								</div>					                               
							</div>    
						{% elif i.category == 'Dessert' %}
							<div class="col-md-4 all dessert">
									<div class="single-menu">
										<div class="title-wrap d-flex justify-content-between">
											<h4>{{ i.name }}</h4>
											<h4 class="price">${{ i.price }}</h4>
										</div>			
										<p>
											{{ i.description }}
										</p>
																			
									</div>					                               
								</div> 
						{% endif %}   	
					{% endfor %}
				   
			</div>
			<!-- End Menu Area -->
			
		</div>
	</section>
	<!-- End menu-area Area -->						



				
{% endblock %}

{% block services %}
{% endblock %}

{% block review %}
{% endblock %}
